@import "variables.css";


/* Just an interesting border as a temporary test */

.tv {
  position: relative;
  /* width: 350px;
  height: 550px; */
  background-color: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
  box-shadow: 10px 10px rgba(0,0,0,.15);
  transition: all .4s ease;
}
.tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 5px 5px rgba(0,0,0,.25);
}



/* General  ----------------------------------- */

.required:after {
    content:" *";
    color: red;
  }

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.invisible {
    display: none;
}

.grey {
    color: grey;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.inline-block {
    display: inline-block;
}

.centered-text {
    text-align: center;
}

.small-margin-top {
    margin-top: 3%;
}

.narrow-centered {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.width-90 {
    width: 90%;
}

hr {
    border:none;
    border-top: 1px dashed black;
    height:1px;
    width:100%;
}

a i.fa {
    color: var(--fa-color);
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--whitespace-color);
}

main {
    margin-left: 2px;
    margin-right: 2px;
}

main > h1:first-of-type {
    text-align: center;
    font-style: italic;
}


.button-juicy {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #e4461f 0, var(--primary-color) 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(196, 74, 74, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1.1em;
}
  
.button-juicy:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
.button-juicy:active {
    box-shadow: #e03c3c 0 3px 7px inset;
    transform: translateY(1px);
}

.input-container {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.input-effect:focus {
    outline: none;
}

.input-effect ~ label {
    cursor: text;
}

.input-effect {
    font: 15px/22px "Lato", Arial, sans-serif;
    border: 1px solid rgb(146, 146, 146);
    padding: 7px 10px;
    transition: 0.4s;
}

.input-effect ~ label {
    position: absolute;
    left: 8px;
    width: 100%;
    top: 10px;
    color: #747474;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

.input-effect ~ .focus-border:before,
.input-effect ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.input-effect ~ .focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.input-effect ~ .focus-border i:before,
.input-effect ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: var(--primary-color);
    transition: 0.4s;
}

.input-effect ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.input-effect:focus ~ .focus-border:before,
.input-effect:focus ~ .focus-border:after,
.has-content.input-effect ~ .focus-border:before,
.has-content.input-effect ~ .focus-border:after {
    width: 100%;
    transition: 0.3s;
}

.input-effect:focus ~ .focus-border i:before,
.input-effect:focus ~ .focus-border i:after,
.has-content.input-effect ~ .focus-border i:before,
.has-content.input-effect ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s;
}

.input-effect:focus ~ label, .has-content.input-effect ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: var(--primary-color);
    transition: 0.3s;
}

.simple-select {
    padding: 4px 7px 4px 7px;
    box-shadow: rgba(45, 35, 66, .5) 0 1px 4px;
    outline-color: var(--primary-color);
    border-color: #7e7e7e;
    border-radius: 3px;
    text-align: center;
}


/* Header  ------------------------------------- */

#header {
    position: relative;
    width: 100%;
    background-color: #ffaf46;
}

.header-area {
    display: flex;
    align-items: center;
}

.header-area .logo {
    margin-left: 1%;
    transform: scale(0.9,0.9);
}

.header-area a {
    text-decoration: none;
}

.header-area .nav-area {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.nav-area ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-left: 0%;
}

.nav-area ul li {
    list-style: none;
    display: inline;
}

.nav-area a {
    color: black;
    font-size:1.7em;
}

.nav-area a:hover {
    border-bottom: 2px dashed black;
    cursor: pointer;
}

.header-area .register-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}

.register-area .register-label {
    font-size: 1.1em;
    color: rgb(58, 43, 0);
}

.menu-btn {
    visibility: hidden;
}

@media screen and (max-width: 840px) {
    .nav-area a {
        font-size:1.5em;
    }
}
@media screen and (max-width: 620px) {

    .menu-btn {
        position: absolute;
        top: 15px;
        left: 20px;
        cursor: pointer;
        z-index: 1;
        width: 25px;
        height: 30px;
        cursor: pointer;
        visibility: visible;
    }
    
    .menu-btn div {
      height: 1px;
      width: 100%;
      background: var(--footer-color);
      margin-top: 6px;
    }

    .menu-btn .middle-line {
      width: 15px;
    }

    .header-area .logo{
        position: absolute;
        right: 35%;
    }

    .header-area .nav-area ul{
        display: none;
    }

    .header-area .nav-area.active ul{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;      
        width: 78%;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--primary-color);
    }
}



.home-page > div:first-of-type  {
    text-align: center;
    font-size: 1.4em;
}

.home-page .introduction-article {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.introduction-article header > h1  {
    font-size: 2.1em;
    text-align: center;
}

.introduction-article > p:first-of-type  {
    text-align: center;
}

.home-page section > h1  {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.home-page p {
    font-size: 1.2em;
}

.home-page .article-title {
    margin-bottom: 15px;
}

.introduction-article section h1 {
    float: left;
    text-align: left;
}

.introduction-article section p {
    clear: left;
}

.introduction-article img {
    float: right;
    margin-left: 5px;
}


/* Register -------------------------------------- */

.register .questionnaire-title {
    margin-top: 3%;
    margin-bottom: 3px;
    font-size: 1.2em;
}

.register .questionnaire {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
}

.register .button-area {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.questionnaire .row {
    width:85%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.questionnaire .reason-select {
    width: 30%;
    min-width: 120px;
}

.row .selectables {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

@media only screen and (max-width:900px) {
    #register .questionnaire {
        width: 90%;
    }

    .questionnaire .row {
        width: 95%;
    }
    .row .selectables {
        flex-direction: column;
    }
}


/* About us -------------------------------------- */

.about-us {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.about-us picture img {
    float: left;
    margin-right: 4px;
} 

.about-us article {
    max-width: 45%;
}

.about-us .bio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bio-container .dashed-area {
    border: 2px dashed #272727;
    margin-top:-15px;
    border-radius: 5px;
}

.bio-container .structured-info {
    margin-left: 265px;
}

.dashed-area .experience-inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:8px;
    padding-bottom:8px
}

.experience-inner ul {
    margin-top: 0;
    margin-bottom: 0;
}

.experience-inner ul li strong {
    font-size: 1.1em;
}

.dashed-area .skill-row {
    display: flex;
    margin-left: 2%;
    align-items: center;
}

.skill-row .skill-color-1 {
    width:60px; height: 12px;
    background-color: rgb(0, 196, 0);
    border-radius: 5px;
}

.skill-row .skill-color-2 {
    width:42px;
    height: 12px;
    background-color: rgb(132, 206, 14);
    border-radius: 5px;
}

.skill-row .skill-color-3 {
    width:25px;
    height: 12px;
    background-color: rgb(209, 223, 8);
    border-radius: 5px;
}

.skill-row .skills-horizontal {
    width:75%;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1332px) {
    .about-us .bio-container {
        flex-direction: column;
    }

    .about-us article {
        margin-bottom: 3%;
    }

    .about-us article {
        max-width: 75%;
    }
}

@media screen and (max-width: 900px) {
    .bio-container .dashed-area {
        border: 2px dashed #272727;
        margin-top:-15px;
        border-radius: 5px;
    }
    
    .bio-container .structured-info {
        margin-left: 205px;
    }

    .about-us article {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .bio-container .structured-info {
        margin-left: 0px;
        clear: both;
    }
}

/* Contact form ---------------------------------- */

.contact-us p {
    font-size: 1.1em;
}

.contact-us p:first-of-type {
    text-align: center;
}


.contact-us form .radiobuttons {
    margin-right: 29px;
}

.contact-us form textarea {
    text-align: left;
    width: 80%;
}

.contact-us form .title-input-area {
    width: 60%;
    min-width: 200px;
}

.contact-us button {
    margin: 2% auto;
    display: block;
}

.contact-us .success-msg-container {
    align-items: center;
    background-color: rgb(150, 220, 150);
    width: 100%;
    height: 40px;
    margin-bottom: 2%;
}

.contact-us .success-msg {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}

@media screen and (max-width: 1200px) {
    .contact-us .narrow-centered {
        width: 90%;
    }
}

/* Form elements wrap, lets give them some more vertical space */
@media screen and (max-width: 900px) {
    .contact-us form .input-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 650px) {
    .contact-us form .r-half-fieldset, form .l-half-fieldset {
        display: block;
        width: auto;
        margin-right: 0%;
        margin-bottom: 2%;
    }

    .contact-us form .inline-fieldset-container {
        display: block;
    }
}


/* Footer ---------------------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: auto;
    padding: 5px 0px 5px 0px;
    width: 100%;
    height: 5%;
    background: var(--footer-color)
}

footer .relevant-links {
    margin-right: 2%;
    display: flex;
}

footer .copyright {
 margin-left: 1%;
}

.relevant-links div a {
    margin: 0px 7px 0px 7px;
}

.relevant-links .relevant-links-title {
    margin-top: 6px;
}

/* TOPICS ---------------------------------------- */    
.topics-summary {
    padding: 50px 0;
  }
  
.topics-summary .topics-summary-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.topics-summary .topics-summary-container article h1{
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.topics-summary .topics-summary-container article img{
    border-radius: 5px;
}

.topics-summary .topics-summary-container article i{
    font-size: .8em;
}

.topics-summary .topics-summary-container article li:hover{
    font-size: 1.3em;
}

.topics-summary .topics-summary-container ol{
    list-style-type: none;
}

.topics-summary .topics-summary-container .fixed-li-padding1 li:nth-child(2){
    padding-right: 24px;
}

.topics-summary .topics-summary-container .fixed-li-padding1 li:nth-child(3){
    padding-right: 22px;
}

.topics-summary .topics-summary-container .fixed-li-padding2 li:nth-child(2){
    padding-right: 38px;
}
.topics-summary .topics-summary-container .fixed-li-padding2 li:nth-child(3){
    padding-right: 82px;
}

.topics-summary .topics-summary-container .fixed-li-padding3 li:nth-child(2){
    padding-right: 38px;
}
.topics-summary .topics-summary-container .fixed-li-padding3 li:nth-child(3){
    padding-right: 33px;
}

.topics-summary .topics-summary-container li a{
    padding-left: 5px;
    color:black;
    font-size: 1.2em;
    text-decoration: none;
}

.topics-summary .topics-summary-container li{
    font-size: 1.1em;
    padding-bottom: 5px;
}

.topics-summary .topics-summary-container article h2{
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 1230px) {
    .topics-summary .topics-summary-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .topics-summary .topics-summary-container > div:nth-of-type(1),
    .topics-summary .topics-summary-container > div:nth-of-type(2) {
        padding-bottom: 10px;
    }
}

/* Courses --------------------------- */
.main-summary {
    margin: auto;
    max-width: 50%;
    padding-bottom: 10px;
}

.main-summary li{
    font-size: 1.3em;
    padding-top: 5px;
}
.main-summary i{
    font-size: .7em;
}
.main-summary li span{
    padding-left: 5px;
}

.main-summary ul{
    list-style-type: none;
}

.courses-content {
    margin: 50px auto;
  }

.courses-content .container {
  padding: 5px 0px;
  float: left;
  width: 50%;
}

.courses-content .courses-content-container {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

.courses-content .courses-content-container .content{
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;

}
.courses-content .courses-content-container .content:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px; 
}

.courses-content .courses-content-container .content p{
  font-size: 1.2em;
}

.courses-content .courses-content-container .content h1{
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
}
.courses-content .courses-content-container .content a{
    font-size: 1.2em;
    font-weight: 400;
    color: black;
    text-align: center;
}

.courses-content .courses-content-container .content ul{
    list-style-type: none;
}

.courses-content .courses-content-container .content li{
    text-align: left;
    font-size: 1.2em;
}

.courses-content .courses-content-container .content h3{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}

.courses-content .courses-content-container .content h4{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

.courses-content .courses-content-container .content li span{
    padding-left: 5px;
}

.courses-content .courses-content-container .content i{
    font-size: .7em;
}

.content-image {
  width: 100%;
  border-radius: 5px;
}

.courses-headline h2{
    font-size: 1.7em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

/* Phone */
@media only screen and (max-width:480px) {
    .main-summary{
        margin: 0;
    }

    .main-summary {
        max-width: 350px;
    }

    .courses-content .courses-content-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

@media only screen and (min-width:481px) and (max-width:689px) {
    .main-summary{
        margin: 0;
    }

    .main-summary {
        max-width: 500px;
    }

    .courses-content .courses-content-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

/* Tablet */
@media screen and (min-width:690px) and (max-width:1024px){
    .courses-content .courses-content-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

/* Hot Courses section -----------------------------*/
.hot-courses{
    margin-top: 15px;
}

@media only screen and (max-width:480px) {
    .courses-headline h2 {
        font-size: 1.4em;
    }
}

/* Forms ------------------------------------------ */

form {
    margin-top: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 6px;
    background: white;
}

form fieldset {
    margin-bottom: 2%;
    padding-top: 0%;
    padding-bottom: 0%;
}

form legend {
    font-size: 1.2em;
}

form .inner-form {
    width:90%;
    margin-right: auto;
    margin-left: auto;
}

form .inner-fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 15px;
}

form .inline-fieldset-container {
    display: flex;
    justify-content: space-between;
}

form .l-half-fieldset {
    display: inline-block;
    width: 46%;
    margin-right: 2%;
}

form .r-half-fieldset {
    display: inline-block;
    width: 46%;
}