<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Your online university!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header">
        <div class="header-area">
            <a href="./" title="HOME - UniStud" class="logo">
                <img src="../static/assets/pictures/logo.png" alt="HOME">
            </a>
            <div class="menu-btn" id="menu-btn">
              <div></div>
              <div class="middle-line"></div>
              <div></div>
            </div>
            <nav class="nav-area">
            <ul>
                <li> <a href="/topics">Topics</a> </li>
                <li> <a href="/about-us">About Us</a> </li>
                <li> <a href="/contact-form">Contact Us</a> </li>
            </ul>
            </nav>
            {% if logged_in == True %}
            <div>
                <p>{{username}}</p>
            <div>
            {% else %}
            <div>
            <a href="/login" title="Login" class="register-area">
                <i class="fa fa-user fa-2x register-icon"></i>
                <span class="register-label">Login</span>
            </a>
            </div>
            {% endif %}
        </div>
    </header>


    <main class="about-us" id="banner">
        <h1>Meet the team behind the idea!</h1>
        <div class="bio-container">
            <article>
                <header>
                    <h1 class="centered-text">HARKIRAT CHADHA</h1>
                </header>
                <picture>
                    <source srcset="../static/assets/pictures/Harkirat.jpg" media="(max-width: 600px)">
                    <source srcset="../static/assets/pictures/Harkirat.jpg" media="(max-width: 900px)">
                    <img src="../static/assets/pictures/Harkirat.jpg" alt="Knowledge Image" style="border-radius: 5px;height:370px;">
                </picture>
                <section>
                    <p>First year student at IIIT Allahabad. <br> I am a
                        programming enthusiast, with a special interest in Game Development and High Performance Applications.</p>
                </section>
                <div class="structured-info">
                    <section>
                        <h1 class="centered-text">Studies & Experience</h1>
                        <div class="dashed-area">
                            <div class="experience-inner">
                                <ul>
                                    <li><strong>2007 -- 2022</strong>: Student at DAV Public School, Amritsar</li>
                                    <li><strong>2023 -- present</strong>: Studnet at IIIT Allahabad</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h1 class="centered-text">Tech Stack</h1>
                        <div class="dashed-area">
                            <!-- <div style="display: flex; flex-direction: column; justify-content: space-evenly;
                            padding-top:8px;padding-bottom:8px"> -->
                            <div class="skill-row" >
                                <div class="skill-color-1"></div>
                                <div class="skills-horizontal">
                                    <span>JavaScript</span>
                                    <span>HTML</span>
                                    <span>CSS</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-2"></div>
                                <div class="skills-horizontal">
                                    <span>Python</span>
                                    <span>C++</span>
                                    <span>C Lang</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-3"></div>
                                <div class="skills-horizontal">
                                    <span>Pandas</span>
                                    <span>NumPY</span>
                                    
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </section>
                </div>
            </article>
            <article>
                <header>
                    <h1 class="centered-text">CHIRAG JAIN</h1>
                </header>
                <picture>
                    <source srcset="../static/assets/pictures/Chirag.jpg" media="(max-width: 600px)">
                    <source srcset="../static/assets/pictures/Chirag.jpg" media="(max-width: 900px)">
                    <img src="../static/assets/pictures/Chirag.jpg"  alt="Knowledge Image" style="border-radius: 5px;height: 370px;">
                </picture>
                <section>
                    <p>First year student at IIIT Allahabad. <br> I am a
                        programming enthusiast, with a special interest in App Designing and Machine Learning.</p>
                </section>
                <div class="structured-info">
                    <section>
                        <h1 class="centered-text">Studies & Experience</h1>
                        <div class="dashed-area">
                            <div class="experience-inner">
                                <ul>
                                    <li><strong>2007 -- 2023</strong>: Student at St. Mary's International School, Mumbai</li>
                                    <li><strong>2023 -- present</strong>: Studnet at IIIT Allahabad</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h1 class="centered-text">Tech Stack</h1>
                        <div class="dashed-area">
                            <!-- <div style="display: flex; flex-direction: column; justify-content: space-evenly;
                            padding-top:8px;padding-bottom:8px"> -->
                            <div class="skill-row" >
                                <div class="skill-color-1"></div>
                                <div class="skills-horizontal">
                                    <span>Python</span>
                                    
                                    <span>JavaScript</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-2"></div>
                                <div class="skills-horizontal">
                                    <span>MongoDB</span>
                                    <span>Node.js</span>
                                    <span>Java</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-3"></div>
                                <div class="skills-horizontal">
                                    <span>MySQL</span>
                                    <span>React</span>
                                    <span>Spring Boot</span>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </section>
                </div>
            </article>
        </div>
        <div class = "bio-container">
            <article>
                <header>
                    <h1 class="centered-text">RAMAN BIR SINGH</h1>
                </header>
                <picture>
                    <source srcset="../static/assets/pictures/Raman.jpg" media="(max-width: 600px)">
                    <source srcset="../static/assets/pictures/Raman.jpg" media="(max-width: 900px)">
                    <img src="../static/assets/pictures/Raman.jpg" alt="Knowledge Image" style="border-radius: 5px;height: 370px;">
                </picture>
                <section>
                    <p>First year student at IIIT Allahabad. <br> I am a
                        programming enthusiast, with a special interest in Web Development and Data Science.</p>
                </section>
                <div class="structured-info">
                    <section>
                        <h1 class="centered-text">Studies & Experience</h1>
                        <div class="dashed-area">
                            <div class="experience-inner">
                                <ul>
                                    <li><strong>2007 -- 2022</strong>: Student at ST. Anselm's Sr Sec School, Ajmer</li>
                                    <li><strong>2023 -- present</strong>: Student at IIIT Allahabad</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h1 class="centered-text">Tech Stack</h1>
                        <div class="dashed-area">
                            <!-- <div style="display: flex; flex-direction: column; justify-content: space-evenly;
                            padding-top:8px;padding-bottom:8px"> -->
                            <div class="skill-row" >
                                <div class="skill-color-1"></div>
                                <div class="skills-horizontal">
                                    <span>JavaScript</span>
                                    <span>HTML</span>
                                    <span>CSS</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-2"></div>
                                <div class="skills-horizontal">
                                    <span>Kotlin</span>
                                    <span>C++</span>
                                    <span>C Lang</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-3"></div>
                                <div class="skills-horizontal">
                                    <span>Unity</span>
                                    <span>NumPY</span>
                                    
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </section>
                </div>
            </article>
            <article>
                <header>
                    <h1 class="centered-text">AYAN MAHATA</h1>
                </header>
                <picture>
                    <source srcset="../static/assets/pictures/Ayan.jpg" media="(max-width: 600px)">
                    <source srcset="../static/assets/pictures/Ayan.jpg" media="(max-width: 900px)">
                    <img src="../static/assets/pictures/Ayan.jpg" alt="Knowledge Image" style="border-radius: 5px;height: 370px;">
                </picture>
                <section>
                    <p>First year student at IIIT Allahabad. <br> I am a
                        programming enthusiast, with a special interest in Cloud Computing and Open-Source oding.</p>
                </section>
                <div class="structured-info">
                    <section>
                        <h1 class="centered-text">Studies & Experience</h1>
                        <div class="dashed-area">
                            <div class="experience-inner">
                                <ul>
                                    <li><strong>2007 -- 2023</strong>: Student at ISAS, Oman</li>
                                    <li><strong>2023 -- present</strong>: Studnet at IIIT Allahabad</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h1 class="centered-text">Tech Stack</h1>
                        <div class="dashed-area">
                            <!-- <div style="display: flex; flex-direction: column; justify-content: space-evenly;
                            padding-top:8px;padding-bottom:8px"> -->
                            <div class="skill-row" >
                                <div class="skill-color-1"></div>
                                <div class="skills-horizontal">
                                    <span>JavaScript</span>
                                    <span>HTML</span>
                                    <span>CSS</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-2"></div>
                                <div class="skills-horizontal">
                                    <span>Python</span>
                                    <span>C++</span>
                                    <span>C Lang</span>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-color-3"></div>
                                <div class="skills-horizontal">
                                    <span>Pandas</span>
                                    <span>NumPY</span>
                                    
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </main>
    
    
  </body>
  
  <script src="../static/js/menu-btn.js"></script>
</html>
