<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Biology Course!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header">
      <div class="header-area">
        <a href="./" title="HOME - UniStud" class="logo">
            <img src="../static/assets/pictures/logo.png" alt="HOME">
        </a>
        <div class="menu-btn" id="menu-btn">
          <div></div>
          <div class="middle-line"></div>
          <div></div>
        </div>
        <nav class="nav-area">
        <ul>
            <li> <a href="/topics">Topics</a> </li>
            <li> <a href="/about-us">About Us</a> </li>
            <li> <a href="/contact-form">Contact Us</a> </li>
        </ul>
        </nav>
        {% if logged_in == True %}
        <div>
            <p>nigga</p>
        <div>
        {% else %}
        <div>
        <a href="/login" title="Login" class="register-area">
            <i class="fa fa-user fa-2x register-icon"></i>
            <span class="register-label">Login</span>
        </a>
        </div>
        {% endif %}
    </div>
    </header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>How to describe the building blocks of life and how their interactions dictate structure and function in biology.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to describe several enzymatic mechanisms that the cell uses to repair or tolerate DNA damage.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to use molecular tools to study biology.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How the internal structure and organization of a cell provides an understanding of how and why a cell works.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to describe several mechanisms of transposition.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to interpret data from translation and RNA processing experiments.</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">

              <article class="content">
                <h1>Introduction to Biology - The Secret of Life</h1>
                <p>Explore the secret of life through the basics of biochemistry, genetics, molecular biology, recombinant DNA, genomics and rational medicine.</p>
                <img class="content-image" src="../static/assets/pictures/biology300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to describe the building blocks of life and how their interactions dictate structure and function in biology</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to predict genotypes and phenotypes given genetics data</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to explain the central dogma of molecular biology and convert DNA sequence to RNA sequence to protein sequence</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to use molecular tools to study biology</span></li>
                </ul>
                <h3><a href="https://web.mit.edu/mitxbio/">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Molecular Biology - Part 1: DNA Replication and Repair</h1>
                <p>An in-depth adventure through DNA replication and repair to strengthen your scientific thinking and experimental design skills.</p>
                <img class="content-image" src="../static/assets/pictures/biology300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to compare and contrast the mechanisms of DNA replication in prokaryotes and eukaryotes</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to describe several enzymatic mechanisms that the cell uses to repair or tolerate DNA damage</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to analyze protein structures to infer functional information</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to designmethods for the best experiment to test a hypothesis related to DNA replication or repair proteins</span></li>
                </ul>
                <h3><a href="https://www.news-medical.net/life-sciences/DNA-Replication-and-Repair.aspx">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Molecular Biology - Part 2: Transcription and Transposition</h1>
                <p>Strengthen your scientific thinking and experimental design skills in this adventure through transcription and transposition.</p>
                <img class="content-image" src="../static/assets/pictures/biology300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to compare and contrast transcription in prokaryotes and eukaryotes</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to describe several mechanisms of transposition</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to analyze protein structures to infer functional information</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How todesign the best experiment to test a hypothesis</span></li>
                </ul>
                <h3><a href="https://wikidiff.com/transposition/transcription">More about</a></h3>
                <h4>Cost: 7900INR</h4>
              </article>

              <article class="content">
                <h1>Molecular Biology – Part 3: RNA Processing and Translation</h1>
                <p>An in-depth adventure through RNA Processing and Translation. Strengthen your scientific thinking and biological experimental design skills.</p>
                <img class="content-image" src="../static/assets/pictures/biology300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to compare and contrast translation in bacteria and eukaryotes</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to describe several mechanisms of RNA turnover and RNA splicing</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to design the best experiment to test a hypothesis</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to interpret data from translation and RNA processing experiments</span></li>
                </ul>
                <h3><a href="https://link.springer.com/chapter/10.1007/978-1-59745-440-7_3">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>

              <article class="content">
                <h1>Cell Biology: Mitochondria</h1>
                <p>A human-centered approach to the fundamentals of cell biology with a focus on the power plants of the cell - mitochondria.</p>
                <img class="content-image" src="../static/assets/pictures/biology300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How the internal structure and organization of a cell provides an understanding of how and why a cell works</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>The role mitochondria play in the cell and why it is important for a cell to make ATP</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How cells metabolize food to provide the molecules necessary for mitochondrial function</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>What experimental techniques are used to investigate mitochondrial structure and function in the laboratory</span></li>
                </ul>
                <h3><a href="https://www.genome.gov/genetics-glossary/Mitochondria">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>
              
              <article class="content">
                <h1>Molecular Biology - Part 1: DNA Replication and Repair</h1>
                <p>An in-depth adventure through DNA replication and repair to strengthen your scientific thinking and experimental design skills.</p>
                <img class="content-image" src="../static/assets/pictures/biology300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to compare and contrast the mechanisms of DNA replication in prokaryotes and eukaryotes</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to describe several enzymatic mechanisms that the cell uses to repair or tolerate DNA damage</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to analyze protein structures to infer functional information</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to designmethods for the best experiment to test a hypothesis related to DNA replication or repair proteins</span></li>
                </ul>
                <h3><a href="https://www.news-medical.net/life-sciences/DNA-Replication-and-Repair.aspx">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>
          </section>
    </main>
    

    
  </body>
  <script src="../static/js/menu-btn.js"></script>
</html>