<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Chemistry Course!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header">
      <div class="header-area">
        <a href="./" title="HOME - UniStud" class="logo">
            <img src="../static/assets/pictures/logo.png" alt="HOME">
        </a>
        <div class="menu-btn" id="menu-btn">
          <div></div>
          <div class="middle-line"></div>
          <div></div>
        </div>
        <nav class="nav-area">
        <ul>
            <li> <a href="/topics">Topics</a> </li>
            <li> <a href="/about-us">About Us</a> </li>
            <li> <a href="/contact-form">Contact Us</a> </li>
        </ul>
        </nav>
        {% if logged_in == True %}
        <div>
            <p>nigga</p>
        <div>
        {% else %}
        <div>
        <a href="/login" title="Login" class="register-area">
            <i class="fa fa-user fa-2x register-icon"></i>
            <span class="register-label">Login</span>
        </a>
        </div>
        {% endif %}
    </div>
    </header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>Understand the challenges of switching from a fossil source-based economy to a biobased economy.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Understand how to identify suitable raw materials and create valuable new products.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Learn how to refine biomass without damaging its valuable components.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Perform a functional analysis of potential methods that can be used for refining a resource.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Learn how to efficiently convert biobased feedstocks into desired products.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Evaluate technological, ethical, societal and economic consequences in the production of biobased products.</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">
              <article class="content">
                <h1>Chemistry and Technology for Sustainability</h1>
                <p>Learn about the basic consumer science, business, logistics, supply chain, and economic principles that are essential for a successful transition from fossil resources to renewable biomass resources in a biobased economy.</p>
                <img class="content-image" src="../static/assets/pictures/chemistry300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Understand the concept and importance of the biobased economy and the value of biobased products</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Assess sustainability issues for a given biobased case</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Decide how to implement a consumer point of view during the development of a biobased product</span></li>
                </ul>
                <h3><a href="https://pubs.rsc.org/en/content/ebook/978-1-78801-205-8">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Biorefinery: From Biomass to Building Blocks of Biobased Products</h1>
                <p>Learn how to design an effective biorefinery to obtain valuable components from various biobased feedstocks such as plants, organisms and waste streams.</p>
                <img class="content-image" src="../static/assets/pictures/chemistry300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Choose proper (chemical) pre-treatment and conversions to arrive at the required products</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Conceptually design a biorefinery process</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Critically evaluate a process design with respect to energy and feedstock efficiency</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Compare that design with fossil-based processes</span></li>
                </ul>
                <h3><a href="https://www.mdpi.com/journal/sustainability/sections/sustainablechemistry">More about</a></h3>
                <h4>Cost: 7900INR</h4>
              </article>

              <article class="content">
                <h1>Catalytic Conversions for Biobased Chemicals and Products</h1>
                <p>Design new (bio)catalytic conversion routes that allow you to use biobased feedstocks to their highest potential as building blocks for chemicals, materials and fuels.</p>
                <img class="content-image" src="../static/assets/pictures/chemistry300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to efficiently convert biobased feedstocks into desired products</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>To understand, evaluate and design a process based on either homogeneous, heterogeneous or biocatalysts</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Critically evaluate the pros and cons of a biobased conversion route vs a fossil-based conversion route</span></li>
                </ul>
                <h3><a href="https://www.researchgate.net/publication/302592195_Heterogeneous_Catalytic_Conversion_of_Biobased_Chemicals_into_Liquid_Fuels_in_the_Aqueous_Phase">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>

              <article class="content">
                <h1>Introduction to Solid State Chemistry</h1>
                <p>Learn chemical principles by examining materials with examples from energy generation and storage to emerging technologies.</p>
                <img class="content-image" src="../static/assets/pictures/chemistry300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>You will develop your “chemical intuition”</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>A quantitative understanding of chemical principles</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Understanding of crystal structure and its relationship to properties</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Materials properties such as conductivity, optical transmission, stiffness, thermal expansion, and strength</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>An understanding of electronic structure, chemical bonding, and atomic order and arrangements</span></li>
                </ul>
                <h3><a href="https://www.sciencedirect.com/journal/journal-of-solid-state-chemistry">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Introduction to Geochemistry</h1>
                <p>The goal of the course is to apply chemical principles to understand the natural (non-living) world around us and appreciate its complexity.</p>
                <img class="content-image" src="../static/assets/pictures/chemistry300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How the Earth’s elements are formed</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>What determines the elements’ abundances and distribution on Earth</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How can we identify the climate millions of years ago</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to use isotopes to identify what we eat</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How can we classify something as general as “rocks”, and explain the diversity</span></li>
                </ul>
                <h3><a href="https://www.geokniga.org/bookfiles/geokniga-introduction-geochemistry-principles-and-applications.pdf">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>

              <article class="content">
                <h1>Capstone Chemistry and Technology for Sustainability</h1>
                <p>Design a sustainable biobased process and evaluate the technological, societal and economic impact to finish the MicroMasters Program.</p>
                <img class="content-image" src="../static/assets/pictures/chemistry300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Design a sustainable biobased process</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Choose an appropriate catalyst for the process and discuss the consequences of that catalyst on the process</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Choose an appropriate organism for the process and discuss the consequences</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Choose the appropriate feedstock for your biobased process and discuss the consequences.</span></li>
                </ul>
                <h3><a href="https://pubs.rsc.org/en/content/ebook/978-1-78801-205-8">More about</a></h3>
                <h4>Cost: 11000INR</h4>
              </article>
          </section>
    </main>
    

  
  </body>
  <script src="../static/js/menu-btn.js"></script>
</html>