<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Physics Course!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header">
      <div class="header-area">
        <a href="./" title="HOME - UniStud" class="logo">
            <img src="../static/assets/pictures/logo.png" alt="HOME">
        </a>
        <div class="menu-btn" id="menu-btn">
          <div></div>
          <div class="middle-line"></div>
          <div></div>
        </div>
        <nav class="nav-area">
        <ul>
            <li> <a href="/topics">Topics</a> </li>
            <li> <a href="/about-us">About Us</a> </li>
            <li> <a href="/contact-form">Contact Us</a> </li>
        </ul>
        </nav>
        {% if logged_in == True %}
        <div>
            <p>nigga</p>
        <div>
        {% else %}
        <div>
        <a href="/login" title="Login" class="register-area">
            <i class="fa fa-user fa-2x register-icon"></i>
            <span class="register-label">Login</span>
        </a>
        </div>
        {% endif %}
    </div>
    </header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>An understanding of the biggest unsolved mysteries in astrophysics and how researchers are attempting to answer them.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How scientists tackle challenging problems.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Model complicated systems using quantum mechanics.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Develop your understanding of the time dependent processes in quantum mechanics.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Essential physics of transistors, including modern nanoscale transistors.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>The physics of and how to model all aspects of a working solar cell: performance, efficiency limits and design rules.</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">
              <article class="content">
                <h1>Astrophysics: Exploring Exoplanets</h1>
                <p>Explore the mysteries of exoplanets - planets around other stars – in this introductory astrophysics course.</p>
                <img class="content-image" src="../static/assets/pictures/physics300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>An understanding of the different methods used to find and study exoplanets</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Knowledge of the results obtained by these methods</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>An appreciation of how scientists tackle difficult problems</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>An understanding of the biggest unsolved mysteries in modern astrophysics</span></li>
                </ul>
                <h3><a href="https://science.nasa.gov/astrophysics/programs/ExEP">More about</a></h3>
                <h4>Cost: INR 5999</h4>
              </article>

              <article class="content">
                <h1>Astrophysics: Cosmology</h1>
                <p>Exploring the origin, fate and nature of our universe.</p>
                <img class="content-image" src="../static/assets/pictures/physics300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>An understanding of modern cosmology</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How astrophysicists investigate the origin, nature and fate of our universe</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>An appreciation of the limits of our current knowledge</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How modern astrophysicists go about investigating mysteries</span></li>
                </ul>
                <h3><a href="https://www.brown.edu/academics/physics/astrophysics-cosmology">More about</a></h3>
                <h4>Cost: INR 4999</h4>
              </article>

              <article class="content">
                <h1>Applications of Quantum Mechanics</h1>
                <p>This course focuses on essential techniques needed for practical applications and research in Quantum Mechanics.</p>
                <img class="content-image" src="../static/assets/pictures/physics300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Model complicated systems using quantum mechanics.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Construct various approximation schemes in quantum mechanics.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Understand systems that have no analytic solutions</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Explain a quantum phenomenon in a written paper</span></li>
                </ul>
                <h3><a href="https://www.livescience.com/33816-quantum-mechanics-explanation.html">More about</a></h3>
                <h4>Cost: INR 5999</h4>
              </article>

              <article class="content">
                <h1>Semiconductor Fundamentals</h1>
                <p>Tying together physics, chemistry, and electrical engineering, this easy-to-follow introduction provides the background needed to understand devices such as transistors and solar cells.</p>
                <img class="content-image" src="../static/assets/pictures/physics300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Learn about energy bands</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn about band gaps</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn about the Fermi function</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn about the semiconductor equations</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn about the density-of-states</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn about energy band diagrams</span></li>
                </ul>
                <h3><a href="https://link.springer.com/book/10.1007/978-3-662-03313-5">More about</a></h3>
                <h4>Cost: INR 4999</h4>
              </article>

              <article class="content">
                <h1>Fundamentals of Transistors</h1>
                <p>This course develops a simple framework for understanding the essential physics of transistors, including modern nanoscale transistors.</p>
                <img class="content-image" src="../static/assets/pictures/physics300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>MOSFET IV characteristics and device metrics and how to analyze measured transistor characteristics and extract key device parameters.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How other transistors, such as HEMTs and bipolar transistors, operate.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>What a physics-based compact model is and the role they play in electronic design.</span></li>
                </ul>
                <h3><a href="https://www.electronics-notes.com/articles/electronic_components/transistor/how-does-a-transistors-works-basics-tutorial.php">More about</a></h3>
                <h4>Cost: INR 8999</h4>
              </article>
              
              <article class="content">
                <h1>Solar Energy: Integration of Photovoltaic Systems in Microgrids</h1>
                <p>Learn how to integrate a photovoltaic system into a microgrid of your design.</p>
                <img class="content-image" src="../static/assets/pictures/physics300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Difference between a microgrid, a passive distribution grid and a virtual power plant</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Ancillary services provided by microgrids and PV</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Operation of centralized and decentralized control, forecasting, and evaluation of different market policies through a case study</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Operation of active power control and voltage regulation</span></li>
                </ul>
                <h3><a href="https://www.energy.gov/eere/solar/solar-integration-distributed-energy-resources-and-microgrids">More about</a></h3>
                <h4>Cost: INR 9999</h4>
              </article>
          </section>
    </main>
    

    
  </body>
  <script src="../static/js/menu-btn.js"></script>
</html>