<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Poetry Course!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header">
      <div class="header-area">
        <a href="./" title="HOME - UniStud" class="logo">
            <img src="../static/assets/pictures/logo.png" alt="HOME">
        </a>
        <div class="menu-btn" id="menu-btn">
          <div></div>
          <div class="middle-line"></div>
          <div></div>
        </div>
        <nav class="nav-area">
        <ul>
            <li> <a href="/topics">Topics</a> </li>
            <li> <a href="/about-us">About Us</a> </li>
            <li> <a href="/contact-form">Contact Us</a> </li>
        </ul>
        </nav>
        {% if logged_in == True %}
        <div>
            <p>nigga</p>
        <div>
        {% else %}
        <div>
        <a href="/login" title="Login" class="register-area">
            <i class="fa fa-user fa-2x register-icon"></i>
            <span class="register-label">Login</span>
        </a>
        </div>
        {% endif %}
    </div>
    </header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>Ideas and techniques that will help you understand as well as enjoy Shakespeare’s plays.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Introduction and the Poetic Line.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Reassessing Modernism's Origins.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Symmetry in the structure of Dante’s work and in the universe.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>The mix of poetry and science in Dante’s work.</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">
              <article class="content">
                <h1>Shakespeare Matters</h1>
                <p>Learn about Shakespeare’s plays and their influence through a focus on emotions such as love, hate, and jealousy.</p>
                <img class="content-image" src="../static/assets/pictures/liter300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Why Shakespeare still matters, all through a focus on emotions</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Ideas and techniques that will help you understand as well as enjoy Shakespeare’s plays</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to understand and appreciate Shakespeare’s language and its power</span></li>
                </ul>
                <h3><a href="https://en.wikipedia.org/wiki/Poetry">More about</a></h3>
                <h4>Cost: 5900INR</h4>
              </article>

              <article class="content">
                <h1>Sharpened Visions: A Poetry Workshop</h1>
                <p>Why just write poems when you can write better ones? This course is built on the notion that the most exciting writing begins after the first draft.</p>
                <img class="content-image" src="../static/assets/pictures/liter300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction and the Poetic Line</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Abstraction and Image</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Rhyme</span></li>
                </ul>
                <h3><a href="https://en.wikipedia.org/wiki/Poetry">More about</a></h3>
                <h4>Cost: 5900 INR</h4>
              </article>

              <article class="content">
                <h1>Greek and Roman Mythology</h1>
                <p>Myths are traditional stories that have endured over a long time. Some of them have to do with events of great importance, such as the founding of a nation.</p>
                <img class="content-image" src="../static/assets/pictures/liter300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to Greek and Roman Mythology</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Identity and Signs</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>What it means to understand data, and prepare or clean data</span></li>
                </ul>
                <h3><a href="https://en.wikipedia.org/wiki/Poetry">More about</a></h3>
                <h4>Cost: 5900 INR</h4>
              </article>

              <article class="content">
                <h1>Modern American Poetry</h1>
                <p>Twelve experienced faculty members from across the United States present their analyses of ground-breaking modern American poets in richly illustrated video lectures.</p>
                <img class="content-image" src="../static/assets/pictures/liter300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Orientation</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Reassessing Modernism's Origins</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>The Difference Women Made</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Poetry's Social Voice</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Modernism's Legacies</span></li>
                </ul>
                <h3><a href="https://en.wikipedia.org/wiki/Poetry">More about</a></h3>
                <h4>Cost: 5900 INR</h4>
              </article>

              <article class="content">
                <h1>Modern & Contemporary American Poetry (“ModPo”)</h1>
                <p>ModPo is a fast-paced introduction to modern and contemporary U.S. poetry, with an emphasis on experimental verse, from Emily Dickinson and Walt Whitman to the present.</p>
                <img class="content-image" src="../static/assets/pictures/liter300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Whitman & Dickinson, two proto-modernists</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Whitmanians & Dickinsonians</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>The rise of poetic modernism: imagism</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>The rise of poetic modernism: Williams</span></li>
                </ul>
                <h3><a href="https://en.wikipedia.org/wiki/Poetry">More about</a></h3>
                <h4>Cost: 5900INR</h4>
              </article>
              <article class="content">
                <h1>Dante Alighieri: Science and poetry in The Divine Comedy</h1>
                <p>Explore Dante's Divine Comedy through a discussion of the sources and references of the poetry and modern science.</p>
                <img class="content-image" src="../static/assets/pictures/liter300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>The mix of poetry and science in Dante’s work</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Symmetry in the structure of Dante’s work and in the universe</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Possible interpretations and readings of the Comedy</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Importance of numerology in the Comedy</span></li>
                </ul>
                <h3><a href="https://en.wikipedia.org/wiki/Poetry">More about</a></h3>
                <h4>Cost: INR 4999</h4>
              </article>
          </section>
    </main>
    

  </body>
  <script src="../static/js/menu-btn.js"></script>
</html>