<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Physics Course!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header">
      <div class="header-area">
        <a href="./" title="HOME - UniStud" class="logo">
            <img src="../static/assets/pictures/logo.png" alt="HOME">
        </a>
        <div class="menu-btn" id="menu-btn">
          <div></div>
          <div class="middle-line"></div>
          <div></div>
        </div>
        <nav class="nav-area">
        <ul>
            <li> <a href="/topics">Topics</a> </li>
            <li> <a href="/about-us">About Us</a> </li>
            <li> <a href="/contact-form">Contact Us</a> </li>
        </ul>
        </nav>
        <div>
        <a href="/login" title="Login" class="register-area">
            <i class="fa fa-user fa-2x register-icon"></i>
            <span class="register-label">Login</span>
        </a>
        </div>
    </div>
    </header>
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if 'error' in message %}
                    <p style="color: red">{{ message }}</p>
                {% else %}
                    <p style="color: green">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Re-type Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Register">
    </form>

  </body>
  <script src="../static/js/forms.js"></script>
  <script src="../static/js/register-form.js"></script>
  <script src="../static/js/menu-btn.js"></script>
</html>