<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Physics Course!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header">
      <div class="header-area">
        <a href="./" title="HOME - UniStud" class="logo">
            <img src="../static/assets/pictures/logo.png" alt="HOME">
        </a>
        <div class="menu-btn" id="menu-btn">
          <div></div>
          <div class="middle-line"></div>
          <div></div>
        </div>
        <nav class="nav-area">
        <ul>
            <li> <a href="/topics">Topics</a> </li>
            <li> <a href="/about-us">About Us</a> </li>
            <li> <a href="/contact-form">Contact Us</a> </li>
        </ul>
        </nav>
        <div>
        <a href="/login" title="Login" class="register-area">
            <i class="fa fa-user fa-2x register-icon"></i>
            <span class="register-label">Login</span>
        </a>
        </div>
    </div>
    </header>
    <main class="register" id="banner">
      <h1>Register!</h1>
      <form action="" id="register-form" class="narrow-centered">
        <div class="inner-form">
          <fieldset>
            <legend>Personal Information</legend>
            <div class="inner-fieldset">
              <div class="input-container">
                <input type="text" name="fname" id="fname" onchange="onInputChange(this)" class="input-effect" required>
                <label class="required" for="fname">First Name</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
              <div class="input-container">
                <input type="text" name="mname" id="mname" onchange="onInputChange(this)" class="input-effect">
                <label for="mname">Middle Name</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
              <div class="input-container">
                <input type="text" name="lname" id="lname" onchange="onInputChange(this)" class="input-effect" required>
                <label for="lname" class="required">Last Name</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
              <div class="input-container">
                <input type="number" min="18" max="100" name="age" id="age" onchange="onInputChange(this)" class="input-effect" required>
                <label for="age" class="required">Age</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
            </div>
          </fieldset>

          <!-- No payment info fields - our website doesn't have paid content -->

          <fieldset>
            <legend>Account credentials</legend>
            <div class="inner-fieldset">

              <div class="input-container">
                <input type="text" name="uname" id="uname" onchange="onInputChange(this)" class="input-effect" required>
                <label for="uname" class="required">User Name</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
              <div class="input-container">
                <input type="email" name="email" id="email" onchange="onInputChange(this)" class="input-effect" required>
                <label for="email" class="required">Email</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
              <div class="input-container">
                <input type="password" name="password" id="password" onchange="onInputChange(this)" class="input-effect" required>
                <label for="password" class="required">Password</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
              <div class="input-container">
                <input type="password" name="r-password" id="r-password" onchange="onInputChange(this)" class="input-effect" required>
                <label for="r-password" class="required">Repeat Password</label>
                <span class="focus-border">
                  <i></i>
                </span>
              </div> 
              <div>
                <input type="checkbox" id="update-emails" name="update-emails" checked>
                <label for="update-emails">Send update emails</label>
              </div>
            </div>
          </fieldset>
          <p class="centered-text questionnaire-title">Tell us a few things about your interests</p>
          <div class="questionnaire">
            <div class="row">
              <label for="register-reason" class="bold">Reason for registering:</label>
              <select name="register-reason" id="register-reason" class="simple-select reason-select">
                <option value="growth">Personal growth</option>
                <option value="employment">Future employment advantage</option>
                <option value="requirement">Professional requirement</option>
              </select>
            </div>
            <div class="row">
              <p class="bold">Education level:</p>
              <div class="selectables">
                <div>
                  <input type="radio" name="highschool" id="highschool">
                  <label for="highschool">Highschool</label>
                </div>
                <div>
                  <input type="radio" name="university" id="university" checked>
                  <label for="university">University</label>
                </div>
                <div>
                  <input type="radio" name="master's" id="master's">
                  <label for="master's">Master's</label>
                </div>
              </div>
            </div>
            <div class="row">
              <p class="bold">Topics of interest (multiple):</p>
              <div class="selectables">
                <div>
                  <input type="checkbox" name="topic" id="science" checked>
                  <label for="science">Science</label>
                </div>
                <div>
                  <input type="checkbox" name="topic" id="informatics" checked>
                  <label for="informatics">Informatics</label>
                </div>
                <div>
                  <input type="checkbox" name="topic" id="literature" checked>
                  <label for="literature">Literature</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- button outside the form for custom validation and behaviour -->
      <div class="button-area">
        <button id="register-btn" onclick="validateRegisterForm()" class="button-juicy">Register!</button></br>
      </div>
    </main>
    
  </body>
  <script src="../static/js/forms.js"></script>
  <script src="../static/js/register-form.js"></script>
  <script src="../static/js/menu-btn.js"></script>
</html>