<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Fiction Course!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header"></header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>Learn how to develop a story-with in-a-story.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Learn how to develop fully rounded characters</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Compose intricate, scintillating prose that will pull readers in from the first word</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Brainstorm marketing and sales techniques that will make you a bestseller</span></li>
                <li><i class="fa fa-chevron-right"></i><span>You will have a comprehensive Whodunit outline that can be modified for future novels</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Master the 6 universal foundations that make up ALL great fiction</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">
              <article class="content">
                <h1>How To Create A Story</h1>
                <p>How to write fiction that appeals to readers.</p>
                <img class="content-image" src="../static/assets/pictures/fiction300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Learn how to develop fully rounded characters</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn how to develop character arcs and emotional arcs</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn why imagery is so important to the reader</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Learn how to develop a story-with in-a-story</span></li>
                </ul>
                <h3><a href="https://literarydevices.net/fiction/">More about</a></h3>
                <h4>Cost: 5900INR</h4>
              </article>

              <article class="content">
                <h1>The Foundations of Fiction</h1>
                <p>Become a creative writing master and write killer novels, memoirs, or short stories.</p>
                <img class="content-image" src="../static/assets/pictures/fiction300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Master the 6 universal foundations that make up ALL great fiction</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Write vibrant, riveting dialogue that will breathe life into your scenes</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Compose intricate, scintillating prose that will pull readers in from the first word</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Structure masterful, gripping plots that will hook readers and keep them turning pages</span></li>
                </ul>
                <h3><a href="https://www.jigsawacademy.com/top-analytics-tools-every-data-scientist-must-learn/">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Writing Science Fiction and Fantasy</h1>
                <p>Turn your idea into a published novel or screenplay in one of today's hottest genres.</p>
                <img class="content-image" src="../static/assets/pictures/fiction300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Learn all about the most popular science fiction and fantasy genres</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Discover the easy way to structure your character's story</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Publish your novel using these simple steps</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Brainstorm marketing and sales techniques that will make you a bestseller</span></li>
                </ul>
                <h3><a href="https://literarydevices.net/fiction/">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Fiction Writing: A Complete Novel Outline Chapter by Chapter</h1>
                <p> Learn this Hollywood secret and complete a comprehensive novel outline in as little as 2 weeks!</p>
                <img class="content-image" src="../static/assets/pictures/fiction300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>By the end of this course, you will have a comprehensive whodunit mystery novel outline ready for your first draft</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Understand what a comprehensive novel outline should look like to give you the best chance at writing a complete first draft</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>You will have a comprehensive Whodunit outline that can be modified for future novels</span></li>
                </ul>
                <h3><a href="https://literarydevices.net/fiction/">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Reverse Engineer Riveting Fiction:</h1>
                <p>You will be writing page turning fiction that your readers will love when you plot, outline and write the right way.</p>
                <img class="content-image" src="../static/assets/pictures/fiction300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Improve any story no matter how good it is and make it even better</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Outline best selling fiction books</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Write quicker and easier with an outline as your guide</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Analyze great stories and use them to inspire your own amazing stories</span></li>
                </ul>
                <h3><a href="https://literarydevices.net/fiction/">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Writing Fiction That Sings: Write Novels With Great Voice</h1>
                <p>Writing novels, blogs, or nonfiction books? Learn editing techniques in this writing course and up your writing skills</p>
                <img class="content-image" src="../static/assets/pictures/fiction300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Spiffy up your novel with solid editing tips, before you submit it to agents and editors.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Choose the strongest POV for the novel you're writing.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Write books with confidence.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Write your novels and creative nonfiction books with an engaging voice.</span></li>
                </ul>
                <h3><a href="https://literarydevices.net/fiction/">More about</a></h3>
                <h4>Cost: 5900INR</h4>
              </article>
          </section>
    </main>
    

    
  </body>
  <script src="../static/js/load-header+footer.js"></script>
  <script src="../static/js/menu-btn.js"></script>
</html>