<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">

    <title>UniStud: Your online university!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header"></header>

    <main class="home-page" id="banner">
      <div>
        <h1 class="inline-block italics">Welcome to </h1> 
        <h1 class="inline-block grey italics">Uni</h1>
        <h1 class="inline-block italics"> Stud!</h1>
      </div>
      <article class="introduction-article small-margin-top">
        <header>
          <h1 class="article-title">Our Vision</h1>
        </header>
        <hr></hr>
        <picture>
          <source srcset="../static/assets/pictures/knowledge193-290.jpg" media="(max-width: 732px)">
          <source srcset="../static/assets/pictures/knowledge280-420.jpg" media="(max-width: 1200px)">
          <img src="../static/assets/pictures/knowledge380-570.jpg" alt="Knowledge Image">
        </picture>

        <p>We strongly believe that everybody has a right to have access to high quality education.
          <strong>UniStud</strong>, is our way of realizing and promoting this vision accross the world!
        </p>
        <section>
          <h1>Introducing UniStud</h1>
          <p><strong>UniStud</strong> is a new, hot <abbr title="Massive Open Online Courses">E-Learning</abbr> platform, where
            anybody can enroll in a wide variety of courses. The contents of the courses are guaranteed to be of top
            quality, by collaborating with highly esteemed professional companies and universities.
          </p>
        </section>
        <section>
          <h1>The Goal</h1>
          <p><strong>UniStud</strong> is here to establish itself as a provider of life-transforming learning experiences to learners around the world. 
          Our goal for UniStud is to become a global online learning platform that offers anyone, anywhere, access to online courses and degrees from leading universities and companies. 
          </p>
        </section>
        <section>
          <h1>Start Today</h1>
          <p>Take a look at out wide variety of <a href="./">topics</a> and courses and start learning today! Whether you are looking for the 
            next step in your career, or you want to learn more about a topic you were always interested, <strong>UniStud</strong> has you covered.
          </p>
        </section>
      </article>
    </main>

    <section class="hot-courses">
      <div class="courses-headline">
        <h2>Hot Courses recommended to you</h2>
      </div>
      <section class="courses-content">
        <section class="courses-content-container">
          <article class="content">
            <h1>Machine Learning With Python</h1>
            <p>This Machine Learning with Python course will give you all the tools you need to get started with supervised and unsupervised learning.</p>
            <img class="content-image" src="../static/assets/pictures/data-science300-.jpg">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>The difference between the two main types of machine learning methods: supervised and unsupervised</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Supervised learning algorithms, including classification and regression</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Unsupervised learning algorithms, including Clustering and Dimensionality Reduction</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Real-life examples of the different ways machine learning affects society</span></li>
            </ul>
            <h3><a href="https://machinelearningmastery.com/machine-learning-in-python-step-by-step/">More about</a></h3>
            <h4>Cost: 8900INR</h4>
          </article>

          <article class="content">
            <h1>Chemistry and Technology for Sustainability</h1>
            <p>Learn about the basic consumer science, business, logistics, supply chain, and economic principles that are essential for a successful transition from fossil resources to renewable biomass resources in a biobased economy.</p>
            <img class="content-image" src="../static/assets/pictures/chemistry300-.jpg">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>Understand the concept and importance of the biobased economy and the value of biobased products</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Assess sustainability issues for a given biobased case</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Decide how to implement a consumer point of view during the development of a biobased product</span></li>
            </ul>
            <h3><a href="https://pubs.rsc.org/en/content/ebook/978-1-78801-205-8">More about</a></h3>
            <h4>Cost: 6900INR</h4>
          </article>

          <article class="content">
            <h1>Software Construction: Object-Oriented Design</h1>
            <p>Learn how to design large software systems that solve real-world problems using object-oriented design techniques.</p>
            <img class="content-image" src="../static/assets/pictures/software-dev300-.jpg">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>How to read and use software design patterns</span></li>
                <li><i class="fa fa-chevron-right"></i><span>To implement an object-oriented design</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to develop an application using online services and APIs</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Techniques for designing and testing a software system</span></li>
                <li><i class="fa fa-chevron-right"></i><span>The role of refactoring</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to build a non-trivial software system using an agile approach in a pair or team</span></li>
            </ul>
            <h3><a href="https://www.geeksforgeeks.org/oops-object-oriented-design/">More about</a></h3>
            <h4>Cost: 8900INR</h4>
          </article>

          <article class="content">
            <h1>Applications of Quantum Mechanics</h1>
            <p>This course focuses on essential techniques needed for practical applications and research in Quantum Mechanics.</p>
            <img class="content-image" src="../static/assets/pictures/physics300-.jpg">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>Model complicated systems using quantum mechanics.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Construct various approximation schemes in quantum mechanics.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Understand systems that have no analytic solutions</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Explain a quantum phenomenon in a written paper</span></li>
            </ul>
            <h3><a href="https://www.livescience.com/33816-quantum-mechanics-explanation.html">More about</a></h3>
            <h4>Cost: 6900INR</h4>
          </article>

          <article class="content">
            <h1>Ancient Philosophy: Plato & His Predecessors</h1>
            <p>This course traces the origins of philosophy in the Western tradition in the thinkers of Ancient Greece.</p>
            <img class="content-image" src="../static/assets/pictures/philosophy300-.jpg">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>The Milesians & Heraclitus</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Parmenides to Plato</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Plato on Virtue, Teaching, & Justice</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Plato on Reality & Goodness</span></li>
            </ul>
            <h3><a href="https://www.nationalgeographic.org/encyclopedia/greek-philosophers/">More about</a></h3>
            <h4>Cost: 8900INR</h4>
          </article>

          <article class="content">
            <h1>Writing Fiction That Sings: Write Novels With Great Voice</h1>
            <p>Writing novels, blogs, or nonfiction books? Learn editing techniques in this writing course and up your writing skills</p>
            <img class="content-image" src="../static/assets/pictures/fiction300-.jpg">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>Spiffy up your novel with solid editing tips, before you submit it to agents and editors.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Choose the strongest POV for the novel you're writing.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Write books with confidence.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Write your novels and creative nonfiction books with an engaging voice.</span></li>
            </ul>
            <h3><a href="https://towardsdatascience.com/intro-to-data-science-531079c38b22">More about</a></h3>
            <h4>Cost: 5900INR</h4>
          </article>
      </section>
    </section>

    
  </body>

  <script src="../static/js/load-header+footer.js"></script>
  <script src="../static/js/menu-btn.js"></script>
</html>
