<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="co-authored by: Petros Papatheodorou, Giannis Baltas">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../../res/pictures/logo.png">
    <title>UniStud: Philosophy Course!</title> 

    <link rel="stylesheet" href="../css/standard.css">
    <link rel="stylesheet" href="../../res/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header"></header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>Understanding ancient Chinese philosophy to live a better life.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to engage in philosophical conversationswith others about topics that matter.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>A basic understanding of ancient Greek and Roman philosophers’ rich thoughts and ideas.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Plato on Reality & Goodness.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>The Milesians & Heraclitus.</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">
              <article class="content">
                <h1>Chinese Philosophy</h1>
                <p>Explore ancient Chinese philosophy, ethics, and political theory to challenge your assumptions of what it means to be happy.</p>
                <img class="content-image" src="../../res/pictures/philosophy300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Understanding ancient Chinese philosophy to live a better life</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Tools for self-awareness, the power of ritual, and sensing the world around you</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>The philosophical theories of Confucius, Mozi, Mencius, Laozi, Zhuangzi, Xunzi, and Han Feizi</span></li>
                </ul>
                <h3><a href="https://www.nationalgeographic.org/article/chinese-religions-and-philosophies/">More about</a></h3>
                <h4>Cost: 7900INR</h4>
              </article>

              <article class="content">
                <h1>Philosophy and Critical Thinking</h1>
                <p>META101x: Thinking about thinking.</p>
                <img class="content-image" src="../../res/pictures/philosophy300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to think with clarity and rigour</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to identify, analyse and construct cogent arguments</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to think of solutions tothe central problems of philosophy</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to engage in philosophical conversationswith others about topics that matter</span></li>
                </ul>
                <h3><a href="https://plato.stanford.edu/entries/critical-thinking/">More about</a></h3>
                <h4>Cost: 6900INR</h4>
              </article>

              <article class="content">
                <h1>Plato, Socrates, and the Birth of Western Philosophy</h1>
                <p>Explore the works of Plato, Aristotle, Heraclitus and other originators of Western philosophy in an immersive study of ancient Greek and Roman philosophers.</p>
                <img class="content-image" src="../../res/pictures/philosophy300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>A basic understanding of ancient Greek and Roman philosophers’ rich thoughts and ideas</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Concepts, ethical foundations and allegories that were developed in support of these ideas</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Cultural and geographic influences that shaped ancient philosophies</span></li>
                </ul>
                <h3><a href="https://plato.stanford.edu/entries/socrates/">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>

              <article class="content">
                <h1>Introduction to Philosophy</h1>
                <p>This course will introduce you to some of the main areas of research in contemporary philosophy.</p>
                <img class="content-image" src="../../res/pictures/philosophy300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>What is Philosophy?</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Morality: Objective, Relative or Emotive?</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>What is Knowledge? And Do We Have Any?</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Do We Have an Obligation to Obey the Law?</span></li>
                </ul>
                <h3><a href="https://en.wikibooks.org/wiki/Introduction_to_Philosophy/What_is_Philosophy!%3F">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>

              <article class="content">
                <h1>Ancient Philosophy: Plato & His Predecessors</h1>
                <p>This course traces the origins of philosophy in the Western tradition in the thinkers of Ancient Greece.</p>
                <img class="content-image" src="../../res/pictures/philosophy300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>The Milesians & Heraclitus</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Parmenides to Plato</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Plato on Virtue, Teaching, & Justice</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Plato on Reality & Goodness</span></li>
                </ul>
                <h3><a href="https://www.nationalgeographic.org/encyclopedia/greek-philosophers/">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>
              
              <article class="content">
                <h1>Social Norms, Social Change I</h1>
                <p>This is a course on social norms, the rules that glue societies together.</p>
                <img class="content-image" src="../../res/pictures/philosophy300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Interdependent & Independent Actions + Empirical Expectations</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Normative Expectations + Personal Normative Beliefs</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Conditional Preferences + Social Norms</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Pluralistic Ignorance + Measuring Norms</span></li>
                </ul>
                <h3><a href="https://www.simplypsychology.org/social-roles.html">More about</a></h3>
                <h4>Cost: 7900INR</h4>
              </article>
          </section>
    </main>
    

    
  </body>
  <script src="../js/load-header+footer.js"></script>
  <script src="../js/menu-btn.js"></script>
</html>