<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="co-authored by: Petros Papatheodorou, Giannis Baltas">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/jpg" href="../../res/pictures/logo.jpg">
    <title>UniStud: Software Development Course!</title> 

    <link rel="stylesheet" href="../css/standard.css">
    <link rel="stylesheet" href="../../res/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header"></header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>How to develop programs that are well tested and easy to modify.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>To structure the development of large software systems using abstraction and decomposition.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>To quickly write and revise code using programming tools.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to do full-stack software development using an agile approach in a pair or team.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Popular languages Java and Typescript, and the ability to quickly learn new ones.</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">
              <article class="content">
                <h1>How to Code: Simple Data</h1>
                <p>Learn the secret to writing well-tested and easy to improve programs, that will set you up to master any programming language.</p>
                <img class="content-image" src="../../res/pictures/software-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to represent information as data</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to focus each part of your program on a single task</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to use examples and tests to clarify what your program should do</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Recognize and represent more complicated information</span></li>
                </ul>
                <h3><a href="https://github.com/ossu/computer-science">More about</a></h3>
                <h4>Cost: 6949 INR</h4>
              </article>

              <article class="content">
                <h1>How to Code: Complex Data</h1>
                <p>Learn how to design more complex programs, using new data structures, abstraction, and generative recursion.</p>
                <img class="content-image" src="../../res/pictures/software-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to identify commonalities in data definitions and functions</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to avoid repetition using abstraction</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to design functions that operate on graphs</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to design programs that search a given problem space to find a valid solution</span></li>
                </ul>
                <h3><a href="https://www.vertica.com/blog/complex-data-types-in-sql-1-what-are-they/">More about</a></h3>
                <h4>Cost: 7999 INR</h4>
              </article>

              <article class="content">
                <h1>Software Construction: Data Abstraction</h1>
                <p>Learn powerful data abstraction and decomposition techniques to build large, complex programs.</p>
                <img class="content-image" src="../../res/pictures/software-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to read and write Java programs</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to test Java programs with JUnit</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>To build larger software systems using abstraction and decomposition</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to specify, implement, use and test a data abstraction</span></li>
                </ul>
                <h3><a href="https://medium.com/@mleepee/software-construction-data-abstraction-1e0fe1356be1">More about</a></h3>
                <h4>Cost: 8999 INR</h4>
              </article>

              <article class="content">
                <h1>Software Construction: Object-Oriented Design</h1>
                <p>Learn how to design large software systems that solve real-world problems using object-oriented design techniques.</p>
                <img class="content-image" src="../../res/pictures/software-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to read and use software design patterns</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>To implement an object-oriented design</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to develop an application using online services and APIs</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Techniques for designing and testing a software system</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>The role of refactoring</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How to build a non-trivial software system using an agile approach in a pair or team</span></li>
                </ul>
                <h3><a href="https://www.geeksforgeeks.org/oops-object-oriented-design/">More about</a></h3>
                <h4>Cost: 8900 INR</h4>
              </article>

              <article class="content">
                <h1>Software Development Processes and Methodologies</h1>
                <p>Software is quickly becoming integral part of human life as we see more and more automation and technical advancements.</p>
                <img class="content-image" src="../../res/pictures/software-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Software development processes : Part 1</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Software development processes : Part 2</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Software Development Models: Traditional Models</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Software Development Models: Agile and Lean</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Object Oriented Programming in Java</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Memory Models, Scope, and Starting the Project</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to Process Models</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to Agile Practices</span></li>
                </ul>
                <h3><a href="https://www.synopsys.com/blogs/software-security/top-4-software-development-methodologies/">More about</a></h3>
                <h4>Cost: 9900 INR</h4>
              </article>

              <article class="content">
                <h1>Software Development Capstone Project</h1>
                <p>Apply all the skills you have learned to work through the challenging and rewarding task of designing a full-stack system.</p>
                <img class="content-image" src="../../res/pictures/software-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Full-stack web development using Typescript and Node.js</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>How teams of developers build software</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Agile methodology</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Hands on experience building a non-trivial software system</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Manipulate and return data with a modern web development stack. </span></li>
                </ul>
                <h3><a href="https://www.researchgate.net/publication/255666386_A_Software_Development_Capstone_Course_and_Project_for_CIS_Majors">More about</a></h3>
                <h4>Cost: 1100 INR</h4>
              </article>
          </section>
    </main>
    

  </body>
  <script src="../js/load-header+footer.js"></script>
  <script src="../js/menu-btn.js"></script>
</html>