<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Group-14">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../static/assets/pictures/logo.png">
    <title>UniStud: Topics!</title> 

    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header"></header>

    <main class="topics" id="banner">
        <h1>Discover our Topics</h1>
        <article class="topics-summary">
            <section class="topics-summary-container">
              <article>
                <h1>Natural Science</h1>
                <img src="../static/assets/pictures/science350-.jpg" alt="Natural Science image">
                <h2>Learning Areas</h2>
                <ol class="fixed-li-padding1">
                    <li><i class="fa fa-chevron-right"></i><a href="./chemistry.html">Chemistry</a></li>
                    <li><i class="fa fa-chevron-right"></i><a href="./physics.html">Physics</a></li>
                    <li><i class="fa fa-chevron-right"></i><a href="./biology.html">Biology</a></li>
                </ol>
              </article>
          
              <article>
                <h1>Informatics</h1>
                <img src="../static/assets/pictures/informatics350-.jpg" alt="Infromatics image">
                <h2>Learning Areas</h2>
                <ol class="fixed-li-padding2">
                  <li><i class="fa fa-chevron-right"></i><a href="./software-development.html">Software Development</a></li>
                  <li><i class="fa fa-chevron-right"></i><a href="./web-development.html">Web Development</a></li>
                  <li><i class="fa fa-chevron-right"></i><a href="./data-science.html">Data Science</a></li>
                </ol>
              </article>
          
              <article>
                <h1>Literature</h1>
                <img src="../static/assets/pictures/literature350-.jpg" alt="Literature image">
                <h2>Learning Areas</h2>
                <ol class="fixed-li-padding3">
                    <li><i class="fa fa-chevron-right"></i><a href="./philosophy.html">Philosophy</a></li>
                    <li><i class="fa fa-chevron-right"></i><a href="./poetry.html">Poetry</a></li>
                    <li><i class="fa fa-chevron-right"></i><a href="./fiction.html">Fiction</a></li>
                </ol>
              </article>
            </section>
          </article>
    </main>

  </body>
  <script src="../static/js/load-header+footer.js"></script>
  <script src="../static/js/menu-btn.js"></script>
</html>