<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="co-authored by: Petros Papatheodorou, Giannis Baltas">
    <meta name="description" content="UniStud - Massive Open Online Courses demo website, created for the Web Programming course, at AUEB">
    <link rel="shortcut icon" type="image/png" href="../../res/pictures/logo.png">
    <title>UniStud: Web Development Course!</title> 

    <link rel="stylesheet" href="../css/standard.css">
    <link rel="stylesheet" href="../../res/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header id="header"></header>

    <main id="banner">
        <h1>What you will learn</h1>
        <article class="main-summary">
            <ul>
                <li><i class="fa fa-chevron-right"></i><span>A broad and robust understanding of computer science and programming.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to scale your web applications.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to keep track of changes made to code, synchronize code between different people, and test changes to code.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>The various ways an API can be used.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>How to design and implement web pages and web apps.</span></li>
                <li><i class="fa fa-chevron-right"></i><span>Familiarity in a number of languages, including C, Python, SQL, and JavaScript plus CSS and HTML.</span></li>
            </ul>
        </article>

        <div class="courses-headline">
          <h2>Courses in this program</h2>
        </div>
        <section class="courses-content">
            <section class="courses-content-container">
              <article class="content">
                <h1>Introduction to Computer Science</h1>
                <p>An introduction to the intellectual enterprises of computer science and the art of programming.</p>
                <img class="content-image" src="../../res/pictures/web-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>How to think algorithmically and solve programming problems efficiently</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Concepts like abstraction, algorithms, data structures, encapsulation and web development</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Familiarity in a number of languages, including C, Python, SQL, and JavaScript plus CSS and HTML</span></li>
                </ul>
                <h3><a href="https://www.learncomputerscienceonline.com/introduction-to-computer-science/">More about</a></h3>
                <h4>Cost: 7900INR</h4>
              </article>

              <article class="content">
                <h1>HTML, CSS, and Javascript for Web Developers</h1>
                <p>In this course, we will learn the basic tools that every web page coder needs to know.</p>
                <img class="content-image" src="../../res/pictures/web-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to HTML5.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to CSS3.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Coding the Static Restaurant Site</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to Javascript</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Using Javascript to Build Web Applications</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Responsive Web Design</span></li>
                </ul>
                <h3><a href="https://blog.hubspot.com/marketing/web-design-html-css-javascript">More about</a></h3>
                <h4>Cost: 7900INR</h4>
              </article>

              <article class="content">
                <h1>Web Programming with Python and JavaScript</h1>
                <p>Diving more deeply into the design and implementation of web apps with Python, JavaScript, and SQL using frameworks like Django, React, and Bootstrap.</p>
                <img class="content-image" src="../../res/pictures/web-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>HTML, CSS, Bootstrap</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Git</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Python, Django</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>SQL, Models, and Migrations</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>JavaScript, React</span></li>
                </ul>
                <h3><a href="https://towardsdatascience.com/from-zero-to-full-stack-web-development-in-37-days-97b8c254a3d1">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>
        
              <article class="content">
                <h1>Google UX Design</h1>
                <p>This is your path to a career in UX design. In this program, you’ll learn in-demand skills that will have you job-ready in less than 6 months. No degree or experience required.</p>
                <img class="content-image" src="../../res/pictures/web-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Foundations of User Experience Design</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Start the UX Design Process: Empathize, Define, and Ideate</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Build Wireframes and Low-Fidelity Prototypes</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Conduct UX Research and Test Early Concepts</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Design a low-fidelity prototype in Figma.</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Identify and account for biases in UX research..</span></li>
                </ul>
                <h3><a href="https://www.interaction-design.org/literature/topics/ux-design">More about</a></h3>
                <h4>Cost: 9900INR</h4>
              </article>

              <article class="content">
                <h1>Introduction to Web Development</h1>
                <p>This course is designed to start you on a path toward future studies in web development and design, no matter how little experience or technical knowledge you currently have.</p>
                <img class="content-image" src="../../res/pictures/web-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Course Overview and Website Structure and Hosting</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Designing Your Own Website: HTML Basics</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to Programming Using JavaScript</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Websites with Style: CSS Properties, Colors and Fonts</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Creating HTML Forms</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Creating Web Applications</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Deploy your Web Application</span></li>
                </ul>
                <h3><a href="https://www.w3schools.com/whatis/">More about</a></h3>
                <h4>Cost: 7900INR</h4>
              </article>

              <article class="content">
                <h1>Full Stack Web Development with Angular Specialization</h1>
                <p>Build Complete Web and Hybrid Mobile Solutions. Master front-end web, hybrid mobile app and server-side development in five comprehensive courses.</p>
                <img class="content-image" src="../../res/pictures/web-dev300-.jpg">
                <ul>
                    <li><i class="fa fa-chevron-right"></i><span>Front-End Web UI Frameworks and Tools: Bootstrap</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to TypeScript</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Front-End JavaScript Frameworks: Angular</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Introduction to jQuery</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Server-side Development with NodeJS, Express and MongoDB</span></li>
                </ul>
                <h3><a href="https://angular.io/docs">More about</a></h3>
                <h4>Cost: 8900INR</h4>
              </article>
            </section>
        </section>
    </main>
    

  </body>
  <script src="../js/load-header+footer.js"></script>
  <script src="../js/menu-btn.js"></script>
</html>